div {
    margin-bottom: 10px;
  }
  
  input {
    margin-left: 10px;
  }
  
  .update-message {
    color: green;
    font-style: italic;
  }
  
.formBlock{
  background-color: #fff4e6;
  border-radius: 5px;
}